In [1]:
import pandas as pd

In [2]:
# read a tab separated data file
pd.read_table('http://bit.ly/chiporders')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
orders= pd.read_table('https://bit.ly/chiporders')
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
movies= pd.read_table("http://bit.ly/movieusers")
movies.head()

   1|24|M|technician|85711
0       2|53|F|other|94043
1      3|23|M|writer|32067
2  4|24|M|technician|43537
3       5|33|F|other|15213
4   6|42|M|executive|98101

In [5]:
movies= pd.read_table('http://bit.ly/movieusers', sep= '|')
movies.head()

   1  24  M  technician  85711
0  2  53  F       other  94043
1  3  23  M      writer  32067
2  4  24  M  technician  43537
3  5  33  F       other  15213
4  6  42  M   executive  98101

In [6]:
movies= pd.read_table('http://bit.ly/movieusers', sep= '|', header= None)
movies.head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [8]:
usercols= ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users= pd.read_table('http://bit.ly/movieusers', sep= '|', names= usercols)
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [9]:
del movies

In [2]:
ufo= pd.read_csv('http://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
type(ufo)

pandas.core.frame.DataFrame

In [12]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, dtype: object

In [13]:
type(ufo['City'])

pandas.core.series.Series

In [14]:
ufo.City.head()

0                  Ithaca
1             Willingboro
2                 Holyoke
3                 Abilene
4    New York Worlds Fair
Name: City, dtype: object

In [16]:
ufo['Colors Reported'].head(20)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    RED
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    RED
Name: Colors Reported, dtype: object

In [17]:
ufo.City + ufo.State

0                      IthacaNY
1                 WillingboroNJ
2                     HolyokeCO
3                     AbileneKS
4        New York Worlds FairNY
5                 Valley CityND
6                 Crater LakeCA
7                        AlmaMI
8                     EklutnaAK
9                     HubbardOR
10                    FontanaCA
11                   WaterlooAL
12                     BeltonSC
13                     KeokukIA
14                  LudingtonMI
15                Forest HomeCA
16                Los AngelesCA
17                  HapevilleGA
18                     OneidaTN
19                 Bering SeaAK
20                   NebraskaNE
21                          NaN
22                          NaN
23                  OwensboroKY
24                 WildernessWV
25                  San DiegoCA
26                 WildernessWV
27                     ClovisNM
28                 Los AlamosNM
29               Ft. DuscheneUT
                  ...
18211                 HolyokeMA
18212                  CarsonCA
18213                PasadenaCA
18214                  AustinTX
18215                El CampoTX
18216            Garden GroveCA
18217           Berthoud PassCO
18218              SisterdaleTX
18219            Garden GroveCA
18220             Shasta LakeCA
18221                FranklinNH
18222          AlbrightsvillePA
18223              GreenvilleSC
18224                 EufaulaOK
18225             Simi ValleyCA
18226           San FranciscoCA
18227           San FranciscoCA
18228              KingsvilleTX
18229                 ChicagoIL
18230             Pismo BeachCA
18231             Pismo BeachCA
18232                    LodiWI
18233               AnchorageAK
18234                CapitolaCA
18235          Fountain HillsAZ
18236              Grant ParkIL
18237             Spirit LakeIA
18238             Eagle RiverWI
18239             Eagle RiverWI
18240                    YborFL
dtype: object

In [18]:
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.Location.head()

0                  Ithaca, NY
1             Willingboro, NJ
2                 Holyoke, CO
3                 Abilene, KS
4    New York Worlds Fair, NY
Name: Location, dtype: object

In [19]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [20]:
movies= pd.read_csv('http://bit.ly/imdbratings')

In [21]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [22]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [23]:
movies.shape

(979, 6)

In [24]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [25]:
movies.describe(include= ['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [26]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [27]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time',
       u'Location'],
      dtype='object')

In [30]:
ufo.columns.values

array(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'], dtype=object)

In [31]:
ufo.rename(columns= {'Colors Reported' : 'Colors_Reported', 'Shape Reported' : 'Shape_Reported'}, inplace= True)
ufo.head()

,City,Colors_Reported,Shape_Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [32]:
ufo.columns

Index([u'City', u'Colors_Reported', u'Shape_Reported', u'State', u'Time',
       u'Location'],
      dtype='object')

In [33]:
ufo_cols = ['city', 'colours reported', 'shape reported', 'state', 'time', 'location']
ufo.columns= ufo_cols
ufo.head()

,city,colours reported,shape reported,state,time,location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [36]:
ufo_cols

['city', 'colours reported', 'shape reported', 'state', 'time', 'location']

In [37]:
ufo_cols[0:4]

['city', 'colours reported', 'shape reported', 'state']

In [38]:
ufo= pd.read_csv('http://bit.ly/uforeports', names= ufo_cols[0:5], header= 0)
ufo.head()

                   city colours reported shape reported state             time
0                Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke              NaN           OVAL    CO  2/15/1931 14:00
3               Abilene              NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair              NaN          LIGHT    NY  4/18/1933 19:00

In [39]:
ufo.columns

Index([u'city', u'colours reported', u'shape reported', u'state', u'time'], dtype='object')

In [40]:
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.head()

                   city colours_reported shape_reported state             time
0                Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke              NaN           OVAL    CO  2/15/1931 14:00
3               Abilene              NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair              NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo= pd.read_csv('http://bit.ly/uforeports')

In [14]:
ufo.shape

(18241, 5)

In [15]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [16]:
ufo.drop('Colors Reported', axis= 1).head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [17]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [18]:
ufo.drop('Colors Reported', axis= 1, inplace= True)
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [19]:
ufo.drop(['City','State'], axis= 1, inplace= True)
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [20]:
ufo.drop([0,1], axis= 0, inplace= True)
ufo.head()

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

In [21]:
ufo.shape

(18239, 2)

In [23]:
movies= pd.read_csv('http://bit.ly/imdbratings')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [24]:
movies.title.sort_values()

542                   (500) Days of Summer
5                             12 Angry Men
201                       12 Years a Slave
698                              127 Hours
110                  2001: A Space Odyssey
910                                   2046
596                               21 Grams
624                              25th Hour
708                       28 Days Later...
60                                3 Idiots
225                                 3-Iron
570                                    300
555                           3:10 to Yuma
427           4 Months, 3 Weeks and 2 Days
824                                     42
597                                  50/50
203                                  8 1/2
170                       A Beautiful Mind
941                       A Bridge Too Far
571                           A Bronx Tale
266                      A Christmas Story
86                      A Clockwork Orange
716                         A Few Good Men
750                    A Fish Called Wanda
276                   A Fistful of Dollars
612                     A Hard Day's Night
883                  A History of Violence
869              A Nightmare on Elm Street
865                        A Perfect World
426                              A Prophet
                      ...
207       What Ever Happened to Baby Jane?
562            What's Eating Gilbert Grape
719                When Harry Met Sally...
649                      Where Eagles Dare
33                                Whiplash
669                Who Framed Roger Rabbit
219        Who's Afraid of Virginia Woolf?
127                      Wild Strawberries
497    Willy Wonka & the Chocolate Factory
270                        Wings of Desire
483                           Withnail & I
920                                Witness
65             Witness for the Prosecution
970                            Wonder Boys
518                         Wreck-It Ralph
954                                  X-Men
248             X-Men: Days of Future Past
532                     X-Men: First Class
871                                     X2
695                      Y Tu Mama Tambien
403                             Ying xiong
235                                Yip Man
96                                 Yojimbo
280                     Young Frankenstein
535                                  Zelig
955                       Zero Dark Thirty
677                                 Zodiac
615                             Zombieland
526                                   Zulu
864                                  [Rec]
Name: title, dtype: object

In [29]:
movies.duration.sort_values(ascending= False)

476    242
157    238
78     229
142    224
445    220
85     216
204    212
17     207
767    205
630    202
7      201
2      200
335    197
385    197
8      195
620    194
424    193
220    191
671    191
40     189
316    189
89     189
184    188
318    188
611    187
132    186
245    184
109    183
166    182
361    181
      ...
766     83
759     83
174     83
306     82
595     82
330     81
789     81
738     81
541     81
117     81
622     80
297     80
283     80
533     80
853     80
513     80
535     79
489     78
864     78
713     78
303     76
405     75
938     75
351     70
742     69
88      68
293     68
258     67
338     66
389     64
Name: duration, dtype: int64

In [30]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [31]:
movies.sort_values('title').head()

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."

In [36]:
movies.sort_values('star_rating', ascending= False, inplace= True)
movies.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

In [37]:
movies.sort_values(['content_rating', 'duration'])

,star_rating,title,content_rating,genre,duration,actors_list
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W..."
656,7.7,Snow White and the Seven Dwarfs,APPROVED,Animation,88,"[u'Adriana Caselotti', u'Harry Stockwell', u'L..."
844,7.5,Pinocchio,APPROVED,Animation,88,"[u'Dickie Jones', u'Christian Rub', u'Mel Blanc']"
287,8.1,His Girl Friday,APPROVED,Comedy,92,"[u'Cary Grant', u'Rosalind Russell', u'Ralph B..."
233,8.1,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u'Shelley Winters', u'Lill..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
451,7.9,Miracle on 34th Street,APPROVED,Comedy,96,"[u'Edmund Gwenn', u""Maureen O'Hara"", u'John Pa..."
237,8.1,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ingrid Bergman', u'Claude Ra..."
229,8.1,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u'Robert Walker', u'Ruth R..."
521,7.8,Belle de Jour,APPROVED,Drama,101,"[u'Catherine Deneuve', u'Jean Sorel', u'Michel..."
285,8.1,Bringing Up Baby,APPROVED,Comedy,102,"[u'Katharine Hepburn', u'Cary Grant', u'Charle..."
94,8.4,Singin' in the Rain,APPROVED,Comedy,103,"[u'Gene Kelly', u""Donald O'Connor"", u'Debbie R..."
575,7.8,Kramer vs. Kramer,APPROVED,Drama,105,"[u'Dustin Hoffman', u'Meryl Streep', u'Jane Al..."
298,8.0,The Graduate,APPROVED,Comedy,106,"[u'Dustin Hoffman', u'Anne Bancroft', u'Kathar..."
866,7.5,To Catch a Thief,APPROVED,Mystery,106,"[u'Cary Grant', u'Grace Kelly', u'Jessie Royce..."
230,8.1,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor', u'Paul Newman', u'Burl I..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
329,8.0,In the Heat of the Night,APPROVED,Crime,109,"[u'Sidney Poitier', u'Rod Steiger', u'Warren O..."
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
410,7.9,Bonnie and Clyde,APPROVED,Biography,111,"[u'Warren Beatty', u'Faye Dunaway', u'Michael ..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
...,...,...,...,...,...,...
652,7.7,This Is England,UNRATED,Crime,101,"[u'Thomas Turgoose', u'Stephen Graham', u'Jo H..."
144,8.2,It Happened One Night,UNRATED,Comedy,105,"[u'Clark Gable', u'Claudette Colbert', u'Walte..."
291,8.1,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u'Ivan Dobronravov', u'Kon..."
523,7.8,Repulsion,UNRATED,Drama,105,"[u'Catherine Deneuve', u'Ian Hendry', u'John F..."
123,8.3,The General,UNRATED,Action,107,"[u'Buster Keaton', u'Marion Mack', u'Glen Cave..."
472,7.8,Guess Who's Coming to Dinner,UNRATED,Comedy,108,"[u'Spencer Tracy', u'Sidney Poitier', u'Kathar..."
757,7.6,Funny Games,UNRATED,Crime,108,"[u'Susanne Lothar', u'Ulrich M\xfche', u'Arno ..."
96,8.4,Yojimbo,UNRATED,Action,110,"[u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u..."
687,7.7,Spellbound,UNRATED,Film-Noir,111,"[u'Ingrid Bergman', u'Gregory Peck', u'Michael..."
582,7.8,Sabrina,UNRATED,Comedy,113,"[u'Humphrey Bogart', u'Audrey Hepburn', u'Will..."
823,7.5,Straw Dogs,UNRATED,Crime,113,"[u'Dustin Hoffman', u'Susan George', u'Peter V..."
239,8.1,Elite Squad: The Enemy Within,UNRATED,Action,115,"[u'Wagner Moura', u'Irandhir Santos', u'Andr\x..."
161,8.2,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', u'V\xe9ra Clouzot', u'Pau..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
802,7.6,Tell No One,UNRATED,Crime,131,"[u'Fran\xe7ois Cluzet', u'Marie-Jos\xe9e Croze..."
217,8.1,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha ..."
262,8.1,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Jackie Gleason', u'Piper La..."
289,8.1,All Quiet on the Western Front,UNRATED,Drama,136,"[u'Lew Ayres', u'Louis Wolheim', u'John Wray']"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
730,7.6,West Side Story,UNRATED,Crime,152,"[u'Natalie Wood', u'George Chakiris', u'Richar..."
257,8.1,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'Lee Remick', u'Ben Gazzara']"
120,8.3,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'James Garner', u'Richard ..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
486,7.8,Evil Dead II,X,Comedy,84,"[u'Bruce Campbell', u'Sarah Berry', u'Dan Hicks']"
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

In [38]:
movies.sort_values(['content_rating', 'duration'], ascending= [True, False]).head(20)

,star_rating,title,content_rating,genre,duration,actors_list
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
444,7.9,My Fair Lady,APPROVED,Drama,170,"[u'Audrey Hepburn', u'Rex Harrison', u'Stanley..."
557,7.8,Mary Poppins,APPROVED,Comedy,139,"[u'Julie Andrews', u'Dick Van Dyke', u'David T..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
71,8.4,North by Northwest,APPROVED,Adventure,136,"[u'Cary Grant', u'Eva Marie Saint', u'James Ma..."
207,8.1,What Ever Happened to Baby Jane?,APPROVED,Drama,134,"[u'Bette Davis', u'Joan Crawford', u'Victor Bu..."
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel..."
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."
103,8.3,The Apartment,APPROVED,Comedy,125,"[u'Jack Lemmon', u'Shirley MacLaine', u'Fred M..."
251,8.1,The Man Who Shot Liberty Valance,APPROVED,Drama,123,"[u'James Stewart', u'John Wayne', u'Vera Miles']"
74,8.4,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'Joseph Cotten', u'Dorothy ..."
333,8.0,The Searchers,APPROVED,Adventure,119,"[u'John Wayne', u'Jeffrey Hunter', u'Vera Miles']"
618,7.7,Shane,APPROVED,Drama,118,"[u'Alan Ladd', u'Jean Arthur', u'Van Heflin']"
65,8.4,Witness for the Prosecution,APPROVED,Crime,116,"[u'Tyrone Power', u'Marlene Dietrich', u'Charl..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
253,8.1,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', u'Lauren Bacall', u'John ..."

In [39]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [40]:
movies.shape

(979, 6)

In [41]:
movies[movies.duration >= 200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [42]:
movies[movies.duration >= 200].genre

2          Crime
7      Adventure
17         Drama
85     Adventure
78         Crime
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [43]:
movies[movies.duration >= 200]['genre']

2          Crime
7      Adventure
17         Drama
85     Adventure
78         Crime
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [45]:
movies.ix[movies.duration >= 200, ['star_rating', 'title', 'genre'] ]

     star_rating                                          title      genre
2            9.1                         The Godfather: Part II      Crime
7            8.9  The Lord of the Rings: The Return of the King  Adventure
17           8.7                                  Seven Samurai      Drama
85           8.4                             Lawrence of Arabia  Adventure
78           8.4                    Once Upon a Time in America      Crime
142          8.3              Lagaan: Once Upon a Time in India  Adventure
157          8.2                             Gone with the Wind      Drama
204          8.1                                        Ben-Hur  Adventure
445          7.9                           The Ten Commandments  Adventure
476          7.8                                         Hamlet      Drama
630          7.7                                      Malcolm X  Biography
767          7.6                It's a Mad, Mad, Mad, Mad World     Action

In [46]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [47]:
movies.shape

(979, 6)

In [49]:
movies[(movies.duration >= 200) & (movies.genre== 'Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [50]:
movies[(movies.duration >= 200) | (movies.genre== 'Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
56,8.5,The Lives of Others,R,Drama,137,"[u'Ulrich M\xfche', u'Martina Gedeck', u'Sebas..."
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
53,8.5,The Prestige,PG-13,Drama,130,"[u'Christian Bale', u'Hugh Jackman', u'Scarlet..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
50,8.5,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', u'Enzo Cannavale', u'Anto..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
47,8.5,Taare Zameen Par,PG,Drama,165,"[u'Darsheel Safary', u'Aamir Khan', u'Tanay Ch..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
91,8.4,Eternal Sunshine of the Spotless Mind,R,Drama,108,"[u'Jim Carrey', u'Kate Winslet', u'Tom Wilkins..."
84,8.4,Requiem for a Dream,R,Drama,102,"[u'Ellen Burstyn', u'Jared Leto', u'Jennifer C..."
87,8.4,Bicycle Thieves,NOT RATED,Drama,93,"[u'Lamberto Maggiorani', u'Enzo Staiola', u'Li..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
95,8.4,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'Anne Baxter', u'George Sand..."
83,8.4,To Kill a Mockingbird,NOT RATED,Drama,129,"[u'Gregory Peck', u'John Megna', u'Frank Overt..."
73,8.4,Jodaeiye Nader az Simin,PG-13,Drama,123,"[u'Peyman Moaadi', u'Leila Hatami', u'Sareh Ba..."
67,8.4,American Beauty,R,Drama,122,"[u'Kevin Spacey', u'Annette Bening', u'Thora B..."
77,8.4,Oldeuboi,R,Drama,120,"[u'Min-sik Choi', u'Ji-tae Yu', u'Hye-jeong Ka..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
...,...,...,...,...,...,...
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
875,7.5,Rust and Bone,R,Drama,120,"[u'Marion Cotillard', u'Matthias Schoenaerts',..."
845,7.5,The Painted Veil,PG-13,Drama,125,"[u'Naomi Watts', u'Edward Norton', u'Liev Schr..."
842,7.5,Cloud Atlas,R,Drama,172,"[u'Tom Hanks', u'Halle Berry', u'Hugh Grant']"
838,7.5,The Class,PG-13,Drama,128,"[u'Fran\xe7ois B\xe9gaudeau', u'Agame Malembo-..."
822,7.5,"Good Night, and Good Luck.",PG,Drama,93,"[u'David Strathairn', u'George Clooney', u'Pat..."
831,7.5,Reign Over Me,R,Drama,124,"[u'Adam Sandler', u'Don Cheadle', u'Jada Pinke..."
874,7.5,Still Alice,PG-13,Drama,101,"[u'Julianne Moore', u'Alec Baldwin', u'Kristen..."
827,7.5,The Wind That Shakes the Barley,NOT RATED,Drama,127,"[u'Cillian Murphy', u'Padraic Delaney', u'Liam..."
861,7.5,The Orphanage,R,Drama,105,"[u'Bel\xe9n Rueda', u'Fernando Cayo', u'Roger ..."
834,7.5,Life as a House,R,Drama,125,"[u'Hayden Christensen', u'Kevin Kline', u'Kris..."
862,7.5,Malena,R,Drama,109,"[u'Monica Bellucci', u'Giuseppe Sulfaro', u'Lu..."
854,7.5,Miracle,PG,Drama,135,"[u'Kurt Russell', u'Patricia Clarkson', u'Nath..."
872,7.5,We Need to Talk About Kevin,R,Drama,112,"[u'Tilda Swinton', u'John C. Reilly', u'Ezra M..."
849,7.5,Quiz Show,PG-13,Drama,133,"[u'Ralph Fiennes', u'John Turturro', u'Rob Mor..."
859,7.5,Doubt,PG-13,Drama,104,"[u'Meryl Streep', u'Philip Seymour Hoffman', u..."
851,7.5,The Bridges of Madison County,PG-13,Drama,135,"[u'Clint Eastwood', u'Meryl Streep', u'Annie C..."
870,7.5,The Ice Storm,R,Drama,112,"[u'Kevin Kline', u'Joan Allen', u'Sigourney We..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."

In [51]:
movies[ movies.genre.isin(['Crime', 'Drama', 'Action'])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
56,8.5,The Lives of Others,R,Drama,137,"[u'Ulrich M\xfche', u'Martina Gedeck', u'Sebas..."
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
53,8.5,The Prestige,PG-13,Drama,130,"[u'Christian Bale', u'Hugh Jackman', u'Scarlet..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
50,8.5,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', u'Enzo Cannavale', u'Anto..."
...,...,...,...,...,...,...
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
865,7.5,A Perfect World,PG-13,Crime,138,"[u'Kevin Costner', u'Clint Eastwood', u'Laura ..."
873,7.5,Felon,R,Crime,104,"[u'Stephen Dorff', u'Marisol Nichols', u'Vince..."
849,7.5,Quiz Show,PG-13,Drama,133,"[u'Ralph Fiennes', u'John Turturro', u'Rob Mor..."
859,7.5,Doubt,PG-13,Drama,104,"[u'Meryl Streep', u'Philip Seymour Hoffman', u..."
856,7.5,Scott Pilgrim vs. the World,PG-13,Action,112,"[u'Michael Cera', u'Mary Elizabeth Winstead', ..."
851,7.5,The Bridges of Madison County,PG-13,Drama,135,"[u'Clint Eastwood', u'Meryl Streep', u'Annie C..."
870,7.5,The Ice Storm,R,Drama,112,"[u'Kevin Kline', u'Joan Allen', u'Sigourney We..."
858,7.5,Sherlock Holmes: A Game of Shadows,PG-13,Action,129,"[u'Robert Downey Jr.', u'Jude Law', u'Jared Ha..."
855,7.5,Maria Full of Grace,R,Crime,101,"[u'Catalina Sandino Moreno', u'Guilied Lopez',..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."